.logo {
  height: 25px;
  margin-right: 20px;
  filter: invert(100%);
}

.dark-logo {
  height: 25px;
  margin-right: 20px;

}

.navbar {
  padding: .3rem 1rem;
}

.navbar-brand {
  font-family: "northregular";
  font-size: 1.6rem;
}

.navbar-dark {
  background-color: #000;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(0, 0, 0, 0.1);
}

.avatar {
  border: 1px solid #000;
}