.jumbotron {
  background-image: url('https://images.unsplash.com/photo-1468296320602-73cc55315f25?auto=format&fit=crop&w=1212&q=80');
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 80vh;
  padding-top: 1rem;
  position: relative;
}

.location {
  position: absolute;
  bottom: 1rem;
  padding-left: 1rem;
  background-color: #000;
  color: white;
  padding: 0 1rem;
}

.header-title {
  padding-top: 4rem;
}

.w-80 {
  width: 80%;
  margin: 0 auto;
}